@{
    ViewData["Title"] = "Home Page";



}

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto text-center">
                <h2 class="section-heading text-white">CATEGORIES</h2><hr>

                <div class="col-md-3">
                    <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Doctors" asp-action="Index">
                        <div class="boxbox">
                            <div class="img-1-1">

                            </div>
                            <span>DOCTORS</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Medical_Enterprise" asp-action="Index">
                        <div class="boxbox">
                            <div class="img-1-2">

                            </div>
                            <span>MED-ENTERPRISES</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Medicines" asp-action="Index">
                        <div class="boxbox">
                            <div class="img-1-3">

                            </div>
                            <span>MEDICINES</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Pharmacies" asp-action="Index">
                        <div class="boxbox">
                            <div class="img-1-4">

                            </div>
                            <span>PHARMACYES</span>
                        </div>
                    </a>
                </div>


            </div>
        </div>

    </div>
</section>
