@{
    ViewData["Title"] = "Home Page";
}


<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">Search By</h2><hr>
                <p class="text-faded mb-4">Select search category and type text to find.</p>
                <select class="js-scroll-trigger custom-select" id="SearchBy">
                    <option value="Medecine">Medecine</option>
                    <option value="Doctor">Doctor</option>
                    <option value="Pharmacy">Pharmacy</option>
                    <option value="MedEnterprise">Med.Enterprise</option>
                </select>
                <hr class="light my-4">
                
                @{ @Html.TextBox("Search", null, new { @class = "btn btn-light btn-xl js-scroll-trigger", placeholder = "Search" })}


            </div>
        </div>
    </div>
</section>


<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Search Result</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>

    <div class="container">
        <div id="SearchResult" class="row">
            
               
        </div>
    </div>
</section>


<section class="p-0" id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
                    <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
                    <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
                    <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
                    <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
                    <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
                    <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>

<script>
    $(document).ready(function () {
        $("#Search").keyup(function () {
            var SearchBy = $("#SearchBy").val();
            var SearchValue = $("#Search").val();
            var SearchResult = $("#SearchResult");
            SearchResult.html("");

            $.ajax({
                type: "post",
                url: "/Home/GetSearchingData?SearchBy=" + SearchBy + "&SearchValue=" + SearchValue,
                contentType: "html",
                success: function (result) {
                    if (result.length == 0) {
                        SearchResult.append('<span style="color: red;">No Match Data</span>');
                    } else {
                        if (SearchBy == "Medecine") {
                            console.log(result);
                            $.each(result, function (index, value) {

                                var Data =
                                    "<div class='col-lg-3 col-md-6 text-center dd'><a href='/Medicines/Details/" + value.medicineID +"'><h3 class=\"mb-3\">Name: " + value.name + "</h3></a><br>" +
                                    "<h4 class=\"mb-4\">Description: </p4> <p class=\"text-muted mb-0\">" + value.description + "</p><br>" +
                                    "<h4 class=\"mb-4\">Price: " + value.price + "</h4><br><hr></div>"
                                ;
                                SearchResult.append(Data);
                            });

                        } else if (SearchBy == "Doctor") {
                            $.each(result, function (index, value) {
                                var Data =
                                    "<div class='col-lg-3 col-md-6 text-center dd'><h3 class=\"mb-3\"><a href='/Doctors/Details/" + value.doctorID + "'>Name: " + value.doctorName + "</a><br>" +
                                    "Surname: " + value.doctorSurname + "<br>" +
                                    "Specialization: " + value.doctorType.specName + "</h3><br>" +
                                    "<h4 class=\"mb-4\">Description: </p4> <p class=\"text-muted mb-0\">" + value.doctorDescription + "</p><br>" +
                                    "<h4 class=\"mb-4\">Enterprise: </p4> <p class=\"text-muted mb-0\">" + value.doctorEnterprise.medName + "</p><br>" +
                                    "<h4 class=\"mb-4\">Price: " + value.price + "</h4><br><hr></div>"
                                    ;
                                SearchResult.append(Data);
                            });
                            console.log(result);
                        } else if (SearchBy == "Pharmacy") {
                            $.each(result, function (index, value) {
                                var Data =
                                    "<div class='col-lg-3 col-md-6 text-center dd'><a href='/Pharmacies/Details/" + value.pharmID + "'><h3 class=\"mb-3\">Name: " + value.pharmName + "</h3></a><br>" +
                                    "<h4 class=\"mb-4\">Address: </p4> <p class=\"text-muted mb-0\">" + value.pharmAddress + "</p><br>" +
                                    "<h4 class=\"mb-4\">Phone: </p4> <p class=\"text-muted mb-0\">" + value.pharmPhone + "</p><br>" +
                                    "<h4 class=\"mb-4\">Working hours: " + value.time_at + "</h4><br><hr></div>"
                                ;
                                SearchResult.append(Data);
                            });
                            console.log(result);
                        } else if (SearchBy == "MedEnterprise") {
                            $.each(result, function (index, value) {
                                var Data =
                                    "<div class='col-lg-3 col-md-6 text-center dd'><a href='/Medical_Enterprise/Details/" + value.medID + "'><h3 class=\"mb-3\">Name: " + value.medName + "</h3></a><br>" +
                                    "<h4 class=\"mb-4\">Address: </p4> <p class=\"text-muted mb-0\">" + value.medAddress + "</p><br>" +
                                    "<h4 class=\"mb-4\">Description: </p4> <p class=\"text-muted mb-0\">" + value.medDescription + "</p><br>" +
                                    "<h4 class=\"mb-4\">Working hours: " + value.time_at + "</h4><br><hr></div>"
                                ;
                                SearchResult.append(Data);
                            });
                            console.log(result);
                        }

                    }
                }

            })

        });
    });
</script>