@model Medical_Shop_MVC.Models.Medical_Enterprise

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Medical_Enterprise</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MedID" />
            <div class="form-group">
                <label asp-for="MedName" class="control-label"></label>
                <input asp-for="MedName" class="form-control" />
                <span asp-validation-for="MedName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedDescription" class="control-label"></label>
                <input asp-for="MedDescription" class="form-control" />
                <span asp-validation-for="MedDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedAddress" class="control-label"></label>
                <input asp-for="MedAddress" class="form-control" />
                <span asp-validation-for="MedAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time_at" class="control-label"></label>
                <input asp-for="Time_at" class="form-control" />
                <span asp-validation-for="Time_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
