@model Medical_Shop_MVC.Models.Pharmacy

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Pharmacy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PharmName" class="control-label"></label>
                <input asp-for="PharmName" class="form-control" />
                <span asp-validation-for="PharmName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PharmAddress" class="control-label"></label>
                <input asp-for="PharmAddress" class="form-control" />
                <span asp-validation-for="PharmAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PharmPhone" class="control-label"></label>
                <input asp-for="PharmPhone" class="form-control" />
                <span asp-validation-for="PharmPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time_at" class="control-label"></label>
                <input asp-for="Time_at" class="form-control" />
                <span asp-validation-for="Time_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
